/*Body*/
body {
  width: 50%;
  margin: auto;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: lightgray;
}

/*H1*/
h1 {
  color: crimson; 
  text-align: center;
}

/*Paragraph*/
p{
  width: 90%;
  text-align: center;  
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

/*Label*/
h4 {
  color: crimson;
  margin-bottom: 0px;
}
label{
  text-align: left;
}

/*Column*/
h5 {
  margin-bottom: 0px;
  margin-top: 0px;
}
.column{
  float: left;
  width: 50%;
  margin-bottom: 30px;
  margin-top: 0px;
}

/*Input*/
input[type=text], select{
  width: 100%;
  text-align: left;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 2px;
}
input[type=textarea] {
  width: 100%;
  text-align: initial;
  padding: 0px 20px;
  margin: 8px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type=radio]{
  margin-top: 10px;
  margin-left: 30px;
}
textarea{
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
}

button{
  width: 100%;
  color: white;
  padding: 15px 32px;
  border: none;
  border-radius: 2px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: crimson;
}
